h1,
.h1 {
	font-family: $manropeFont;
	font-weight: 400;
	font-size: rem(64);
	line-height: math.div(84, 64);
	@media (max-width: $pc) {
		font-size: rem(50);
	}
	@media (max-width: $mobile) {
		font-size: rem(42);
	}
	@media (max-width: $mobile) {
		font-size: rem(36);
	}
}

h2,
.h2 {
	font-family: $manropeFont;
	font-weight: 400;
	font-size: rem(48);
	line-height: math.div(72, 48);
	@media (max-width: $pc) {
		font-size: rem(36);
	}
	@media (max-width: $tablet) {
		font-size: rem(30);
	}
	@media (max-width: $mobile) {
		font-size: rem(24);
	}
}

h3,
.h3 {
	font-family: $fontFamily;
	font-size: rem(26);
	line-height: math.div(32, 26);
	font-weight: 700;
	@media (max-width: $mobile) {
		font-size: rem(16);
		line-height: math.div(20, 16);
	}
}

h4,
.h4 {
	font-family: $fontFamily;
	font-size: rem(18);
	text-transform: uppercase;
	color: $blackColor;
}

.text-s {
	font-size: rem(20);
	line-height: math.div(32, 20);
	font-weight: 400;
	@media (max-width: $tablet) {
		font-size: rem(18);
	}
}

.text-xs {
	font-size: rem(16);
	line-height: math.div(28, 16);
	font-weight: 400;
	@media (max-width: $tablet) {
		font-size: rem(14);
	}
}

.user {
	display: flex;
	align-items: center;
	gap: rem(12);
	margin-top: rem(20);
	@media (max-width: $mobile) {
		margin-top: rem(15);
	}
	@media (max-width: $mobileSmall) {
		margin-top: rem(12);
	}
	// .user__avatar
	&__avatar {
		border-radius: 50%;
		overflow: hidden;
		width: rem(32);
		height: rem(32);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .user__name
	&__name {
		color: $mainColor;
		@include hoverUnderline;
	}
}

.info {
	display: flex;
	align-items: center;
	gap: rem(12);
	@media (max-width: $tablet) {
		gap: rem(8);
	}
	// .info__category
	&__category {
		font-size: rem(16);
		line-height: math.div(28, 16);
		font-weight: 700;
		color: $mainColor;
		@media (max-width: $tablet) {
			font-size: rem(14);
		}
	}
	// .info__date
	&__date {
		color: $greyColor;
	}
}

.logo {
	display: block;
	width: 100%;
	max-width: rem(160);
	height: auto;
	@media (max-width: $tablet) {
		max-width: rem(140);
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
