.footer {
	margin-top: rem(60);
	padding: rem(100) 0 rem(120);
	background-color: $whiteColor;
	@media (max-width: $laptop) {
		padding: rem(60) 0 rem(80);
		margin-top: rem(40);
	}
	@media (max-width: $pc) {
		padding: rem(40) 0 rem(60);
		margin-top: rem(30);
	}
	@media (max-width: $mobileSmall) {
		padding: rem(20) 0 rem(40);
		margin-top: rem(20);
	}
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: flex;
		gap: rem(40);
		justify-content: space-between;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
		@media (max-width: $mobileSmall) {
			gap: rem(20);
		}
	}
	// .footer__content
	&__content {
		display: flex;
		flex-direction: column;
		flex: 0 1 rem(300);
		min-width: rem(220);
		@media (max-width: $mobile) {
			flex: auto;
			min-width: none;
		}
		@media (max-width: $mobileSmall) {
			align-items: center;
		}
	}
	// .footer__logo
	&__logo {
	}
	// .footer__text
	&__text {
		margin-top: rem(40);
		color: $greyColor;
		@media (max-width: $tablet) {
			margin-top: rem(30);
		}
		@media (max-width: $mobile) {
			margin-top: rem(15);
		}
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .footer__copy
	&__copy {
		margin-top: rem(60);
		color: $greyColor;
		@media (max-width: $tablet) {
			margin-top: rem(40);
		}
		@media (max-width: $mobile) {
			margin-top: rem(15);
		}
	}
	// .footer__nav
	&__nav {
		display: flex;
		flex: 0 1 rem(720);
		@media (max-width: $mobile) {
			flex: auto;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			gap: rem(30);
		}
	}
	// .footer__column
	&__column {
		display: flex;
		flex-direction: column;
		// display: block;
		flex: 0 1 33.333%;
	}
	// .footer__heading
	&__heading {
		display: flex;
		align-items: center;
		align-self: flex-start;
		font-size: rem(20);
		line-height: math.div(32, 20);
		font-weight: 700;
		color: $blackColor;
		position: relative;
		@media (max-width: $mobile) {
			align-self: center;
		}
		&._open {
			&::before {
				content: '';
				transform: rotate(-180deg);
				transition: transform 0.3s ease 0s;
			}
		}
		&::before {
			content: '';
			display: none;
			@media (max-width: $mobileSmall) {
				display: block;
				position: absolute;
				right: rem(-30);
				width: rem(20);
				height: rem(20);
				background-image: url('/svg/arrow.svg');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				transform: rotate(0deg);
				transition: transform 0.3s ease 0s;
			}
		}
	}
	// .footer__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(30);
		margin-top: rem(35);
		&._close {
			display: none;
		}
		@media (max-width: $pc) {
			margin-top: rem(25);
			gap: rem(20);
		}
		@media (max-width: $mobile) {
			align-items: center;
		}
		@media (max-width: $mobileSmall) {
			gap: rem(10);
			margin-top: rem(15);
		}
	}
	// .footer__link
	&__link {
		display: flex;
		align-items: center;
		color: $greyColor;
		position: relative;
		@include hoverOpacity;
		& > span {
			position: absolute;
			left: 100%;
			font-size: rem(13);
			font-weight: 700;
			background-color: $greenColor;
			margin-left: rem(10);
			border-radius: 120px;
			color: $mainColor;
			padding: rem(6) rem(14);
			@media (max-width: $tablet) {
				font-size: rem(11);
				padding: rem(4) rem(10);
			}
		}
	}
}
