.header {
	position: relative;
	padding: rem(55) 0 rem(45);
	@media (max-width: $pc) {
		padding: rem(30) 0;
	}
	@media (max-width: $tablet) {
		padding: rem(20) 0;
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(40);
	}
	// .header__logo
	&__logo {
	}
	// .header__content
	&__content {
		display: flex;
		align-items: center;
		gap: rem(40);
		@media (max-width: $pc) {
			gap: rem(30);
		}
	}
	// .header__nav
	&__nav {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .header__list
	&__list {
		display: flex;
		align-items: center;
		gap: rem(40);
		@media (max-width: $pc) {
			gap: rem(30);
		}
	}
	// .header__item
	&__item {
	}
	// .header__link
	&__link {
		font-size: rem(16);
		font-weight: 600;
		line-height: 1.2;
		color: $mainColor;
		@include hoverUnderline;
	}
	// .header__login
	&__login {
		@include button;
		padding: rem(10) rem(40);
		@media (max-width: $pc) {
			padding: rem(10) rem(30);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__button {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			width: rem(30);
			height: rem(30);
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.burger-header {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $whiteColor;
	color: $mainColor;
	transform: translate(-300%, 0);
	transition: transform 0.5s ease 0s;
	z-index: 5;

	.menu-open & {
		transform: translate(0, 0);
		transition: transform 0.5s ease 0s;
	}

	&__body {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: auto;
		padding: rem(20);
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
	}
	// .burger-header__close
	&__close {
		width: rem(30);
		height: rem(30);
		cursor: pointer;
		@include hoverOpacity;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .burger-header__top
	&__top {
		display: flex;
	}
	// .burger-header__content
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(40);
		padding: rem(30) 0;
		flex: auto;
	}
	// .burger-header__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(30);
	}
	// .burger-header__item
	&__item {
		& > a {
			font-size: rem(20);
			font-weight: 700;
		}
	}
	// .burger-header__login
	&__login {
		padding: rem(10) rem(40);
		align-self: center;
		@include button;
	}
}
