// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$laptop: em(1450);
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(550);

[class*='__container'] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}
	@if ($containerPadding>0) {
		padding: 0 rem(math.div($containerPadding, 2));
	}
}
