//Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

[class*='-ibg'] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		width: rem(10);
	}
	&::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #cecece;
		border-radius: 22px;
		padding: rem(3);
		margin: rem(3);
	}
	@media (max-width: $mobile) {
		&::-webkit-scrollbar {
			width: rem(8);
		}
	}
}

@mixin hoverOpacity($opacity: 0.7) {
	opacity: 1;
	transition: opacity 0.3s ease 0s;
	&:hover {
		opacity: $opacity;
		transition: opacity 0.3s ease 0s;
	}
}

@mixin hoverUnderline($color: $mainColor) {
	position: relative;
	text-decoration: none;
	padding-bottom: 2px;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: rem(2);
		width: 0;
		background-color: $color;
		transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); // плавная ease-in-out
	}

	&:hover::after {
		width: 100%;
	}
}

@mixin button($bg: $whiteColor, $color: $mainColor, $fz: 16) {
	font-size: $fz;
	font-weight: 700;
	background-color: $bg;
	color: $color;
	border: 2px solid $mainColor;
	border-radius: 56px;
	white-space: nowrap;
	@include hoverOpacity;
}
