@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin blocks-card($bg, $color) {
	display: flex;
	flex-direction: column;
	gap: rem(15);
	padding: rem(35) rem(15) rem(25);
	flex: 0 1 rem(190);
	background-color: $bg;
	color: $color;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	@include hoverOpacity(0.9);
}

@mixin list-icon($url) {
	display: flex;
	align-items: center;
	position: relative;
	padding-right: rem(20);
	&::before {
		content: '';
		fill: $whiteColor;
		position: absolute;
		right: 0;
		width: rem(12);
		height: rem(12);
		background-image: url(#{$url});
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}

@mixin block-icon($bg, $colorStroke) {
	& .blocks__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		background-color: $bg;
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		& svg {
			width: rem(25);
			height: rem(25);
			& path {
				stroke: $colorStroke;
			}
		}
	}
}

.blocks {
	height: 100vh;
	font-family: 'Roboto';
	// .blocks__container
	&__container {
		height: 100%;
	}
	// .blocks__body
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	// .blocks__wrap
	&__wrap {
		display: flex;
		justify-content: center;
		gap: rem(20);
		width: 100%;
		@media (max-width: em(500)) {
			flex-direction: column;
		}
	}
	// .blocks__card
	&__card {
		&._lv1 {
			@include blocks-card($greenColor, $whiteColor);
			@include block-icon(#3bae75, $whiteColor);
		}
		&._lv2 {
			@include blocks-card($whiteColor, $greyColor);
			@include block-icon(transperent, #1976d2);
		}
	}
	// .blocks__level
	&__level {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		font-size: rem(20);
		line-height: math.div(24, 20);
		font-family: $fontFamily;
	}
	// .blocks__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex: auto;
	}
	// .blocks__label
	&__label {
		font-size: rem(16);
		font-weight: 700;
	}
	// .blocks__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: rem(8);
		margin-top: rem(12);
	}
	// .blocks__item
	&__item {
		font-size: rem(12);
		&._check {
			@include list-icon('/svg/check-circle.svg');
		}
		&._circle {
			@include list-icon('/svg/circle.svg');
		}
	}
	// .blocks__info
	&__info {
		font-size: rem(10);
		text-align: end;
	}
}
